name: Main CI/CD Pipeline
run-name: ${{ github.actor }} triggered CI/CD on ${{ github.ref_name }}

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  call-unit-test:
    uses: ./.github/workflows/test-worker.yaml
    secrets: inherit

  # 階段二：CD (持續交付) - 自動發布
  # 條件：1. CI 必須成功 (needs)
  #       2. 必須是推送 tag (startsWith)
  call-release:
    needs: call-unit-test
    if: startsWith(github.ref, 'refs/tags/')
    uses: ./.github/workflows/release-worker.yaml
    secrets: inherit
