name: Main CI Controller
run-name: ${{ github.actor }} triggered CI on ${{ github.ref_name }}

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  # 呼叫測試工廠
  call-unit-test:
    uses: ./.github/workflows/test-worker.yaml
    secrets:
      # 將本專案的 Secret 傳遞給被呼叫的子工作流
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
